.container1{
  
  width: 100%;


}
.img{
  width: 100px;
  height: 100px; 
  /* display: flex;
  
  flex-direction: row;
   */
}
.row{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
.col{
}